{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * test plugin for Craft CMS 3.x
 *
 * test Settings.twig
 *
 * @author    Christian Hiller
 * @copyright Copyright (c) 2019 Christian Hiller
 * @link      kreisvier.ch
 * @package   Test
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: 'Default E-Mail sender address',
    id: 'eMailSender',
    name: 'eMailSender',
    value: settings['eMailSender']})
}}

{{ forms.textField({
    label: 'Default E-Mail recipient address',
    id: 'eMailRecipient',
    name: 'eMailRecipient',
    value: settings['eMailRecipient']})
}}

{{ forms.textField({
    label: 'Default E-Mail BCC recipient.',
    id: 'eMailBcc',
    name: 'eMailBcc',
    value: settings['eMailBcc']})
}}

{{ forms.textField({
    label: 'Default E-Mail subject',
    id: 'eMailSubject',
    name: 'eMailSubject',
    value: settings['eMailSubject']})
}}

{{ forms.textField({
    label: 'Honey Pot field name',
    id: 'eMailHoneyPot',
    name: 'eMailHoneyPot',
    value: settings['eMailHoneyPot']})
}}

{{ forms.textAreaField({
    label: 'Define your default E-Mailtemplate. Use {form} Tag for the form content. {subject} for the subject.',
    rows: 8,
    instructions: 'Enter some setting here.',
    id: 'eMailTemplate',
    name: 'eMailTemplate',
    value: settings['eMailTemplate']})
}}

{{ forms.textAreaField({
    label: 'Message after form submit on errors',
    rows: 8,
    id: 'eMailErrorMsg',
    name: 'eMailErrorMsg',
    value: settings['eMailErrorMsg']})
}}

{{ forms.textAreaField({
    label: 'Message after form submit on success',
    rows: 8,
    id: 'eMailSuccessMsg',
    name: 'eMailSuccessMsg',
    value: settings['eMailSuccessMsg']})
}}
