{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * k4clientform plugin for Craft CMS 3.x
 *
 * K4clientformField Field Input
 *
 * @author    Christian Hiller
 * @copyright Copyright (c) 2019 Christian Hiller
 * @link      kreisvier.ch
 * @package   K4clientform
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}


<div class="k4Cfrm-wrapper">
        {{ forms.textareaField({
                id: id ~ 'k4Cfrm-frm',
                class: id ~ 'k4Cfrm-frm',
                name: name ~ '[k4CfrmField]',
                value: values.k4CfrmField,
                required: false,
        }) }}
</div>

{% if currentUser.can('k4clientformSettings') %}
        {% set entryHandle = craft.app.request.segments[1]  %}
        {% set entryId = craft.app.request.segments[2]|split('-')[0]  %}
        <div class="k4Cfrm-wrapper-export">
                <b>export:</b>
                <a target="_blank" href="{{ cpUrl() }}/k4clientform/xls/{{ entryHandle ~ '-' ~ entryId }}">XLS</a>
                {#
                /<a target="_blank" href="{{ cpUrl() }}/k4clientform/csv/{{ values.k4CfrmField }}">CSV</a>
                /<a target="_blank" href="{{ cpUrl() }}/k4clientform/html/{{ values.k4CfrmField }}">HTML</a>
                #}

        </div>
        <br>
{% endif %}
