{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * k4clientform plugin for Craft CMS
 *
 * K4clientformField Field Settings
 *
 * @author    Christian Hiller
 * @copyright Copyright (c) 2019 Christian Hiller
 * @link      kreisvier.ch
 * @package   K4clientform
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{#
{% do view.registerAssetBundle("k4\\k4clientform\\assetbundles\\k4clientform\\K4clientformAsset") %}
#}
{#
{{ forms.textField({
    label: 'Some Attribute',
    instructions: 'Enter some attribute here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: field['someAttribute']})
}}
#}

